footer {
    background-color: #554640;
    height: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
    "a b c"
    "d e f"
    "g h i"
    "j k l";
  }
  
  .bla {
    grid-area: a;
    color: white;
  }
  
  .kontakt {
    grid-area: b;
    color: white;
  }
  
  .telefon {
    grid-area: e;
    color: white;
  }
  
  .email {
    grid-area: h;
    color: white;
  }
  
  .adresse {
    grid-area: k;
    color: white;
  }