@media (min-width: 800px)


header nav .active-page {
    background-color:white;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.navbar {
  display: flex;
    align-items: center;
    background-color: #554640;
    align-items: center;
    justify-content: space-between;

}

.current {
	color: yellow;
}

.icons {
  position: absolute;
  right: 0;
  flex-wrap: wrap;
}


.logo {
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
display: flex;
margin: 0;
padding: 0;
padding-right: 0px;
flex-wrap: wrap;
justify-content: flex-end;

}

.navbar-links li {
    list-style: none;
    left: 0;
    margin-left: 0px;
}

.navbar2 li a {
    display: block;
    text-decoration: none;
    color: #dcccbb;
    padding: 1rem;
    font-family: abril-display, serif;
    font-weight: bold;
    font-size: 25px;
}


.navbar2 {
      margin-right: 50px;
}
.navbar3 li a {
    display: block;
    text-decoration: none;
    color: #eab464;
    padding: 1rem;
    font-family: abril display;
}

.navbar-links li a:hover {
    background-color: #ffff;
    color: #757575;
    border-radius: 20px;
}

.p-menu {
    position: absolute;
    margin-left:-110px;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
    color: #d6ac37;
    font-family: Helvetica;
    font-weight: bold;
}

.toggle-button {
  position: absolute;
      top: 1.2rem;
      margin-left: 95px;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      margin-top: 11px;
      height: 27px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: #d6ac37;
    border-radius: 7px;
}

.dropbtn {
  background-color: #444059;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #444059;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #434057;
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: #ffff;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: Helvetica;
}

.dropdown-content a:hover {
  background-color: #ffff;
  color: #757575;

}

.dropdown-content p {
  color: grey;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 10px;
  font-family: Helvetica;
  font-weight: lighter;
}

.show {display:block;}


@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .p-menu {
          position: absolute;
          margin-left: 110px;
          top: 11px;
          flex-direction: column;
          justify-content: space-between;
          font-size: 13px;
    }


    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 50%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: left;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
            font-size: 25px;
    }

    .navbar-links.active {
        display: flex;
    }
}



@media (max-width: 475px) {

.icons {
  transform: scale(0.75);
  transform-origin: right;
}
}
@media (max-width: 390px) {

.icons {
  transform: scale(0.65);
  transform-origin: right;

}

}

.container {
  background-color: #554640;
  position: fixed;
  bottom: 0;
  height: 60%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "a b c"
  "d e f"
  "g h i"
  "j k l";
}

.bla {
  grid-area: a;
  color: white;
}

.information {
  grid-area: b;
  color: white;
}

.telefon {
  grid-area: e;
  color: white;
}

.email {
  grid-area: h;
  color: white;
}

.adresse {
  grid-area: k;
  color: white;
}
