@media (min-width: 800px)


header nav .active-page {
    background-color:white;
}

body {
    background-image: url(billeder/papertexture4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.indhold {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "banner banner banner"
    "b b b"
    ". c ."
    ". d ."
    ". e .";
  }

  .banner {
    grid-area: banner;
    background-color: #554640;
    background-image: url(billeder/banner.png);
    background-position-y: 836px;
    background-position-x: 225px;
    padding-top: 241px;
  }

  .Nyheder{
    grid-area: e;
    color: black;

  }

  .billedebanner {
    height: 100%;
    width: 100%%;
    display: flex;
  }

  .video {
    grid-area: d;
    color: white;
    text-align: -webkit-center;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

  .video iframe {
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
  }

  .knapper {
    grid-area: b;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;

  }

  .knap1 {
    color: #554640;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #fbf9f9;
    font-family: arial;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
    border: none;
    font-family: "abril display";
  }

  .knap2 {
    color: #554640;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #fbf9f9;
    font-family: arial;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
    border: none;
    font-family: "abril display";
  }

  .knap3 {
    color: #554640;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #fbf9f9;
    font-family: arial;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
    border: none;
    font-family: "abril display";
  }

  .knap4 {
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 7px 4px;
    background-color: #eab464;
    font-family: arial;
    font-size: 25px;
    border-radius: 25px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
    border: none;
    font-family: "abril display";
    cursor: url('billeder/wand.png'), auto;

  }

  .kobbillet {
    grid-area: c;
    text-align: -webkit-center;
  }

  .nyheder {
    grid-area: c;
    color: white;
  }

  .follow {
    grid-area: c;
    color: white;
 }

 .indhold {
    font-size:25px;

    width: 100%;
    height: 100%;
    grid-row-gap: 65px;
  }


.navbar {
  display: flex;
    align-items: center;
    background-color: #554640;
    align-items: center;
    justify-content: space-between;

}

.current {
	color: yellow;
}

.icons {
  position: absolute;
  right: 0;
  flex-wrap: wrap;
}


.logo {
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
display: flex;
margin: 0;
padding: 0;
padding-right: 0px;
flex-wrap: wrap;
justify-content: flex-end;

}

.navbar-links li {
    list-style: none;
    left: 0;
    margin-left: 0px;
}

.navbar2 li a {
    display: block;
    text-decoration: none;
    color: #dcccbb;
    padding: 1rem;
    font-size: 20px;
}

.navbar2 {
      margin-right: 50px;
}

.navbar2 li {
      padding-left: 10px;
}


.navbar3 li a {
    display: block;
    text-decoration: none;
    color: #eab464;
    padding: 1rem;
}

.navbar-links li a:hover {
    color: #ffff;

}

.p-menu {
    position: absolute;
    margin-left:-110px;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
    color: #d6ac37;
    font-weight: bold;
}

.toggle-button {
  position: absolute;
      top: 1.2rem;
      margin-left: 95px;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      margin-top: 11px;
      height: 27px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: #d6ac37;
    border-radius: 7px;
}

.dropbtn {
  background-color: #444059;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #444059;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #434057;
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: #ffff;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ffff;
  color: #757575;
}

.dropdown-content p {
  color: grey;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 10px;
  font-family: abril-display, serif;
  font-weight: lighter;
}

.show {display:block;}



@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .p-menu {
          position: absolute;
          margin-left: 110px;
          top: 11px;
          flex-direction: column;
          justify-content: space-between;
          font-size: 13px;
    }


    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 50%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: left;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
            font-size: 25px;
    }

    .navbar-links.active {
        display: flex;
    }
}



@media (max-width: 475px) {

.icons {
  transform: scale(0.75);
  transform-origin: right;
}
}
@media (max-width: 390px) {

.icons {
  transform: scale(0.65);
  transform-origin: right;

}

}







*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Playfair Display', serif;
}

.baggrund{
  b//ackground-color: #DCCCBB;
}

.kontakt p{
font-family: 'Times New Roman', serif;
}

h1{
  text-align: center;
  font-size: 50px;
  color: #554640;
  padding: 30px;
}

.kontakt{
  b//ackground: #DCCCBB;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: "a b";
  align-items: center;
}

.box{
  grid-area: a;
  margin-left: auto;
  padding: 70px;
  background-color: #fff;
  border-radius: 30px 0px 0px 30px;

}

.validator{
  grid-area: b;
  top: 50%;
  left: 70%;
  max-width: 350px;
  width: 100%;
  background: #554640;
  padding: 25px;
  border-radius: 7px;
}

.validator h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.validator .input_field{
  margin-bottom: 10px;
}

.validator .input_field input[type="text"],
.validator textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.validator textarea{
  resize: none;
  height: 80px;
}

.validator .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  margin-left: 25%;
  padding: 15px;
  text-align: center;
  width: 50%;
  background: #EAB464;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;


}

#error_message{
  margin-bottom: 20px;
  background: #EAB464;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

/* Slideshow container */
.slideshow-container {
  display: grid;
   
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }

 .boks {
   border-style: none;
   box-shadow: 0 14px 28px #554640;
   border-radius: 5%;
   height: 350px;
   width:250px;
   background-color: #DCCCBB;
 }
  
 .audition {
   height: 200px;
   width: 175px;
   opacity: 0.8;
 }

 .audition:hover {
   opacity: 1;
 }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #554640;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #554640;
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #DCCCBB;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #554640;
  }

/*Gro footer*/

.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "a b c"
  "d e f"
  "g h i"
  "j k l";
}

.bla {
  grid-area: a;
  color: #dcccbb;
  margin-top: 20px;
  margin-left: 20px;
}

.information {
  grid-area: b;
  font-weight: bold;
  color: #dcccbb;
  margin-top: 20px;
  margin-left: 200px;
}

.telefon {
  grid-area: e;
  color: white;
  margin-left: 200px;
  margin-top: 20px;
}

.email {
  grid-area: h;
  color: white;
  margin-left: 200px;
  margin-top: 20px;
}

.adresse {
  grid-area: k;
  color: white;
  margin-left: 200px;
  margin-bottom: 50px;
}

.follow {
  grid-area: c;
  color: #dcccbb;
  margin-left: 350px;
  margin-top: 20px;
}

.facebook {
  grid-area: f;
  margin-left: 350px;
  margin-top: 20px;
}

.facebooktekst {
  grid-area: f;
  margin-left: 400px;
  color: white;
  margin-top: 20px;
}

.instagram {
  grid-area: f;
  margin-left: 500px;
  margin-top: 20px;
}

.instagramtekst {
  grid-area: f;
  margin-left: 540px;
  color:white;
  margin-top: 20px;
}

.snapchat {
  grid-area: i;
  margin-left: 350px;
  margin-top: 20px;
}

.snapchattekst {
  grid-area: i;
  color: white;
  margin-left: 400px;
  margin-top: 20px;
}

.tiktok {
  grid-area: i;
  margin-left: 500px;
  margin-top: 20px;
}

.tiktoktekst {
  grid-area: i;
  margin-top: 20px;
  margin-left: 540px;
  color: white;
}

.logogro {
  grid-area: g;
  margin-left: 70px;
  width: 100px;
  height: 100px;
  /* margin-bottom: 40px; */
}

footer {
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Times New Roman', Times, serif;
  background-color: #554640;
  font-size:20px;
  bottom: 0;
  width: 100%;
  height: 250px;
}
