@media (min-width: 800px)


header nav .active-page {
    background-color:white;
}

body {
    background-image: url(billeder/papertexture4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.indhold {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "banner banner banner"
    "b b b"
    ". c ."
    "d d d"
    "s s s"
    "f f f"
    "h h h"
    "g g g";
}

.banner {
  grid-area: banner;
  background-color: #554640;
  background-image: url(billeder/banner.png);
  background-position-y: 836px;
  background-position-x: 225px;
  padding-top: 5%;
    padding-bottom: 5%;
}

.banner h5 {
  display: flex;
    justify-content: center;
    font-size: 27px;
    color: #ffff;
    text-shadow: 2px 2px 4px #000000;

}

.Nyheder {
  grid-area: s;
  color: black;
}

.billedebanner {
  height: 100%;
  width: 100%%;
  display: flex;
}

.video {
  grid-area: d;
  color: white;
  text-align: -webkit-center;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

  .video iframe {
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
  }

  .knapper {
    grid-area: b;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;

  }

  .knap1 {
    color: #554640;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #fbf9f9;
    font-family: arial;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
    border: none;
    font-family: "abril display";
  }

  .knap2 {
    color: #554640;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #fbf9f9;
    font-family: arial;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
    border: none;
    font-family: "abril display";
  }

  .knap3 {
    color: #554640;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #fbf9f9;
    font-family: arial;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
    border: none;
    font-family: "abril display";
  }

  .knap4 {
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 7px 4px;
    background-color: #eab464;
    font-family: arial;
    font-size: 25px;
    border-radius: 25px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
    border: none;
    font-family: "abril display";
    cursor: url('billeder/wand.png'), auto;

  }

  .kobbillet {
    grid-area: c;
    text-align: -webkit-center;
  }

  .nyheder {
    grid-area: c;
    color: white;
  }

  .follow {
    grid-area: c;
    color: white;
 }

 .indhold {
    width: 100%;
    height: 100%;
    grid-row-gap: 65px;
  }


.navbar {
  display: flex;
    align-items: center;
    background-color: #554640;
    align-items: center;
    justify-content: space-between;

}

.current {
	color: yellow;
}

.icons {
  position: absolute;
  right: 0;
  flex-wrap: wrap;
}


.logo {
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
display: flex;
margin: 0;
padding: 0;
padding-right: 0px;
flex-wrap: wrap;
justify-content: flex-end;

}

.navbar-links li {
    list-style: none;
    left: 0;
    margin-left: 0px;
}

.navbar2 li a {
    display: block;
    text-decoration: none;
    color: #dcccbb;
    padding: 1rem;
    font-size: 20px;
}

.navbar2 {
      margin-right: 50px;
}

.navbar2 li {
      padding-left: 10px;
}


.navbar3 li a {
    display: block;
    text-decoration: none;
    color: #eab464;
    padding: 1rem;
}

.navbar-links li a:hover {
    color: #ffff;

}

.p-menu {
    position: absolute;
    margin-left:-110px;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
    color: #d6ac37;
    font-weight: bold;
}

.toggle-button {
  position: absolute;
      top: 1.2rem;
      margin-left: 95px;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      margin-top: 11px;
      height: 27px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: #d6ac37;
    border-radius: 7px;
}

.dropbtn {
  background-color: #444059;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #444059;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #434057;
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: #ffff;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ffff;
  color: #757575;
}

.dropdown-content p {
  color: grey;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 10px;
  font-family: abril-display, serif;
  font-weight: lighter;
}

/*Gros niks pille*/
/* Slideshow container */
.slideshow-container {
  grid-area: f;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas:
          "a b c"
          "d e f"
          "g h i";
          justify-content: center;
        align-items: center;
}

.mySlides {
  justify-content: center;
  align-items: center;
}

/* Slides */


/* Next & previous buttons */
.prev, .next {
  grid-area: a;
  cursor: pointer;
  top: 50%;
  width: auto;
  /* margin-top: -30px; */
  padding: 16px;
  color: #554640;
  font-weight: bold;
  font-size: 62px;
  border-radius: 0 3px 3px 0;
  /* user-select: none; */
}

/* Position the "next button" to the right */
.next {
  grid-area: c;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #554640;
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  grid-area: g;
  text-align: center;
  padding: 10px;
  background: #DCCCBB;
  border-radius: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #554640;
}

.show {display:block;}



@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .indhold {
       width: 100%;
       height: 100%;
       grid-row-gap: 115px;
       display: flow-root;
     }

    .p-menu {
          position: absolute;
          margin-left: 110px;
          top: 11px;
          flex-direction: column;
          justify-content: space-between;
          font-size: 13px;
    }


    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 50%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: left;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
            font-size: 25px;
    }

    .navbar-links.active {
        display: flex;
        flex-direction: column-reverse;
    }

    .video {
      grid-area: d;
      color: white;
      text-align: -webkit-center;
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 */
      height: 0;
    }

      .video iframe {
        position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 20px;
      }

      .knapper {
        grid-area: b;
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;

      }
}



@media (max-width: 475px) {

.icons {
  transform: scale(0.75);
  transform-origin: right;
}
}
@media (max-width: 390px) {

.icons {
  transform: scale(0.65);
  transform-origin: right;

}

}






/* Kontakt siden jooo!!*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Playfair Display', serif;
}

.baggrund{
  b//ackground-color: #DCCCBB;
}

.kontakt p{
font-family: 'Times New Roman', serif;
}

h1{
  text-align: center;
  font-size: 50px;
  color: #554640;
  padding: 30px;
}

.kontakt{
  b//ackground: #DCCCBB;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: "a b";
  align-items: center;
}

.box{
  grid-area: a;
  margin-left: auto;
  padding: 70px;
  background-color: #fff;
  border-radius: 30px 0px 0px 30px;

}

.validator{
  grid-area: b;
  top: 50%;
  left: 70%;
  max-width: 350px;
  width: 100%;
  background: #554640;
  padding: 25px;
  border-radius: 7px;
}

.validator h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.validator .input_field{
  margin-bottom: 10px;
}

.validator .input_field input[type="text"],
.validator textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.validator textarea{
  resize: none;
  height: 80px;
}

.validator .btn2 input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  margin-left: 25%;
  padding: 15px;
  text-align: center;
  width: 50%;
  background: #EAB464;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;


}

#error_message{
  margin-bottom: 20px;
  background: #EAB464;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.nyhedsbrev {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  /* grid-template-rows: auto; */
  /* grid-template-areas: " a b c"; */
  grid-area: h;
}
.storknap {
  grid-area: b;
  border-radius: 30px;
  background-color: #A7754D;
  width: 600px;
  height: 60px;
  text-align: justify;
  color: white;
  border: none;
  box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
}

.tilmeld {
  color: white;
  margin-left: 20px;
}

.besked {
  color: black;
  margin-left: 20px;
}

.lilleknap {
  grid-area: b;
  width: 350px;
  height: 30px;
  border-radius: 20px;
  border:none;
  background-color: white;
  margin-top: 15px;
  margin-left: 200px;
  text-align: start;
  box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
}

  /*Gro om os siden*/

  .omos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e";
    border-style: none;
    box-shadow: 0 14px 28px #554640;
    background-color: rgba(85, 70, 64, 0.7);
    width: auto;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 100px;
    border-radius: 10px;
  }

  .poverskrift {
    grid-area: a;
    margin-top: 20px;
    margin-left: 40px;
    color: #EAB464;
    font-size: 40px;

  }

  .pet {
    grid-area: a;
    padding: 40px 40px 40px 40px;
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
    color: white;
  }

  .puoverskriftet {
    grid-area: b;
    margin-left: 40px;
    color: #EAB464;
    font-size: 30px;
  }

  .pto {
    grid-area: b;
    padding: 40px 40px 40px 40px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;
  }

  .puoverskriftto {
    grid-area: c;
    margin-left: 40px;
    color: #EAB464;
    font-size: 30px;
  }

  .ptre {
    grid-area: c;
    padding: 40px 40px 40px 40px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;
  }

  .puoverskrifttre {
    grid-area: d;
    margin-left: 40px;
    color: #EAB464;
    font-size: 30px;
  }

  .pfire {
    grid-area: d;
    padding: 40px 40px 40px 40px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;
  }

  .puoverskriftfire {
    grid-area: e;
    margin-left: 40px;
    color: #EAB464;
    font-size: 30px;
  }

  .pfem {
    grid-area: e;
    margin-bottom: 120px;
    padding: 40px 40px 40px 40px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;
  }

  h2 {
    color: #ffff;
  }

/*Gro footer*/

.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "a b c"
  "d e f"
  "g h i"
  "j k l";
}

.bla {
  grid-area: a;
  color: #dcccbb;
  margin-top: 20px;
  margin-left: 20px;
}

.information {
  grid-area: b;
  font-weight: bold;
  color: #dcccbb;
  margin-top: 20px;
  margin-left: 200px;
}

.telefon {
  grid-area: e;
  color: white;
  margin-left: 200px;
  margin-top: 20px;
}

.email {
  grid-area: h;
  color: white;
  margin-left: 200px;
  margin-top: 20px;
}

.adresse {
  grid-area: k;
  color: white;
  margin-left: 200px;
  margin-bottom: 50px;
}

.follow {
  grid-area: c;
  color: #dcccbb;
  margin-left: 350px;
  margin-top: 20px;
}

.facebook {
  grid-area: f;
  margin-left: 350px;
  margin-top: 20px;
}

.facebooktekst {
  grid-area: f;
  margin-left: 400px;
  color: white;
  margin-top: 20px;
}

.instagram {
  grid-area: f;
  margin-left: 500px;
  margin-top: 20px;
}

.instagramtekst {
  grid-area: f;
  margin-left: 540px;
  color:white;
  margin-top: 20px;
}

.snapchat {
  grid-area: i;
  margin-left: 350px;
  margin-top: 20px;
}

.snapchattekst {
  grid-area: i;
  color: white;
  margin-left: 400px;
  margin-top: 20px;
}

.tiktok {
  grid-area: i;
  margin-left: 500px;
  margin-top: 20px;
}

.tiktoktekst {
  grid-area: i;
  margin-top: 20px;
  margin-left: 540px;
  color: white;
}

.logogro {
  grid-area: g;
  margin-left: 70px;
  width: 100px;
  height: 100px;
  /* margin-bottom: 40px; */
}

footer {
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Times New Roman', Times, serif;
  background-color: #554640;
  font-size:20px;
  bottom: 0;
  width: 100%;
grid-area: g;
}
/* Forestillinger */


button:hover{
background: #A7754D;
}

.Forestillingersiden{

display: grid;
grid-template-columns: auto auto auto;
grid-template-rows: auto auto auto;
grid-template-areas:
"a"
"e "
"i "
"m "
"q"
"u"
"aa "
"ee "
"ii ";
padding-top:20px;
}
.nyheder-knap{
margin-left:30px;
grid-area: a;
width:80px;
height: 30px;
border-radius:25px;
}
.stot-knap{
margin-left:140px;
grid-area: a;
width:80px;
height: 30px;
border-radius:25px;
}
.sponsorer-knap{
margin-left:250px;
grid-area: a;
width:80px;
height: 30px;
border-radius:25px;
}
#praktisk{
display: grid;
grid-area: e;

}

.praktisk-info
{
display: grid;
grid-template-columns: auto auto auto;
grid-template-rows: auto auto auto;
grid-template-areas:
"a b b d"
"e f g h"
"i j k l"
"m n o p";
font-size:10px;
border:solid none;
border-radius: 25px;
padding:20px;
background: #554640;
color:white;
width: 300px;
height: 200px;
margin-left:30px;

}
.penge {
position: absolute;
margin-left:58px;
width:15px;
margin-top:126px;

}
.tid {
position: absolute;
margin-left:58px;
width:15px;
margin-top:55px;
}
.lokation {
position: absolute;
margin-left:58px;
width:15px;
margin-top:90px;
}
.praktisk-info h1 {
grid-area: a;

}
.praktisk-info p {
grid-area: b;
margin-top:20px;


}

.om-forestillingen p{
font-size:10px;
}

.om-forestillingen
{
display: grid;
grid-area: q;
border:solid none;
border-radius: 25px;
padding:20px;
background: #554640;
color:white;
margin-left:30px;
width:300px;

}
.hyrdinden-banner {

border:solid;
grid-area: i;
box-shadow: 10px 10px 10px 10px #554640;
margin-left:25px;
width:auto;
margin-top:20px;

}
.koeb {
border:solid;
grid-area:m;
border-radius: 25px;
background: #EAB464;
font-size:15px;
font-weight: bold;
width:200px;
padding: 20px;
margin-left:70px;
margin-top:20px;
margin-bottom: 20px;

}



.kommenede
{
margin-top:40px;
margin-bottom:30px;

grid-area: a;
text-align: center;
}


.tidligere {
margin-left:20px;
width:340px;
grid-area: u;
font-size:16px;
color:#554640;
padding-top:20px;

}
.tidligere h1 {
width:200px;
}
.timeline {
margin-bottom: 50px;

grid-area: aa;

}
#timeline a {

text-decoration: none;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-o-transition: 0.5s;
-ms-transition: 0.5s;
transition: 0.5s;
}

#timeline a:hover{
color: #ffcc00;
}



#dates {
width:auto;
height: 30px;
overflow: hidden;
padding-top:10px;



}

time  {

list-style: none;
float: left;
width: 60px;
height: 30px;
font-size: 20px;
text-align: center;
margin-right:10px;

}

#dates a {
color:white;
padding:20px;


}
#dates >li:nth-child(odd){
background-color:#554640;
}
#dates >li:nth-child(even){
background-color:#A7754D;
}
#change {
grid-area: ee;
border:solid;
background: #554640;
border-radius: 25px;
list-style-type: none;
margin-top:-20px;
margin-bottom:10px;
margin-left:20px;
width:300px;



}
#change h1{
color:#A7754D;
font-size:20px;
padding:10px;
}
#change p {
color:white;
padding:10px;
font-size: 15px;
}
.btn {
font-size:17px;
width:auto;
min-width:80px;
color:black;
background:#EAB464;
font-weight: bold;
float: right;
margin-bottom:10px;
}
.left-arrow {
float:left;
width:30px;
}

img.left-arrow:hover {
width:31px;
}
img.right-arrow:hover {
width:31px;
}
.right-arrow {
float:right;
margin-right:51px;
width:30px;
}


@media (min-width: 500px) {
.Forestillingersiden{
display: grid;

grid-template-columns: auto auto auto;
grid-template-rows: auto auto auto;
grid-template-areas:
"k b"
"a c "
"i i "
"m m "
"q q "
"u u "
"aa aa "
"ee ee "
"ii ii ";
margin-left:60px;
}
.nyheder-knap{
grid-area: k;
}
.stot-knap{
grid-area: k;
margin-left: 195px;
}
.sponsorer-knap{
grid-area: k;
margin-left:350px;
}
#praktisk {
grid-area: a;

}

.praktisk-info{
width:400px;
height: 280px;
display: grid;

grid-template-columns: auto auto auto;
grid-template-rows: auto auto auto;
grid-template-areas:
"x a"
"c b"
"c b"
"c b"
}
.praktisk-info p{
font-size:15px;
grid-area: b;
margin-left:40px;
}
.praktisk-info img {
width:25px;
grid-area: c;


}
.praktisk-info h2 {
font-size:23px;
margin-left:40px;
grid-area: a;
}
.lokation{
margin-left: 10px;
margin-top:95px;
}
.tid{
margin-left: 10px;
margin-top:160px;
}
.penge{
margin-left: 10px;
margin-top:205px;
}
.hyrdinden-banner{
width:400px;
grid-area:i;


}
.penge {
margin-top:140px;
}
.lokation{
margin-top:55px;
}
.tid{
margin-top:100px;;
}

.koeb {
grid-area: m;
margin-left:120px;
}
.om-forestillingen {
grid-area: q;
margin-left: 60px;
width:300px;
height: 320px;

}
.om-forestillingen p {
font-size: 15px;
}
.om-forestillingen h2{
font-size:23px;
}

.kommenede {
grid-area: k;
}
}
#change {
grid-area: ee;
}
@media (min-width: 800px) {
.Forestillingersiden{
display: grid;
grid-template-columns: auto auto auto;
grid-template-rows: auto auto auto;
grid-template-areas:
"a a"
"om b"
"i k "
"g e "
"f l "
"time time "
"ee m ";
}
.nyheder-knap{
grid-area: a;
margin-left:100px;
margin-bottom: 50px;
width: 100px;
height: 50px;
font-size:17px;
}
.stot-knap{
grid-area: a;
margin-left: 400px;
width: 100px;
height: 50px;
font-size:17px;
}
.sponsorer-knap{
width: 100px;
height: 50px;
font-size:17px;
grid-area: a;
margin-left:650px;
}
.praktisk-info p{

font-size:10px;
}
.kommenede{
grid-area: b;
margin-top:-40px;
}
.om-forestillingen {
grid-area: om;
width: 20rem;
height: 13rem;
margin-left: -50px

}
.om-forestillingen p {
font-size: 10px;
}
.hyrdinden-banner{
grid-area:om;
width: 15rem;
height: 5rem;
margin-left: 300px;


}

.kommenede {
grid-area: om;
margin-left:20rem;
}
.praktisk-info img{
width:15px;
}
#praktisk {
grid-area:b;
width:20rem;
height: 13rem;
margin-left:-9rem;


}
.koeb {
grid-area:i;
margin-top:-60px;
margin-left:20rem;
}
.tidligere
{
grid-area: g;
margin-left:20rem;
}
.timeline {
grid-area: time;
margin-right:10rem;
}
#dates {
height: 40px;
}
#dates a {
margin-left:-15px;
font-size:25px;

}
.left-arrow, .right-arrow {
margin-top:10px;
}
.right-arrow {
margin-left:-10px;
}
}
#change {
grid-area:ee;
}
@media (min-width: 1200px) {
.Forestillingersiden{
display: grid;
grid-template-columns: auto auto auto;
grid-template-rows: auto auto auto;
grid-template-areas:
"news stot sponsorer "
"om banner info"
"i k k "
"g e o "
"f l h "
"time time time"
"ee m n";
padding-top:20px;


}
.nyheder-knap{
grid-area: news;
}
.stot-knap{
grid-area: stot;
margin-left:150px;

}
.sponsorer-knap{
margin-left:150px;
grid-area: sponsorer;

}
.kommenede{
grid-area: banner;
margin-top:-40px;
margin-left:-9rem;
}
.om-forestillingen {
grid-area: om;
width: 20rem;
height: 20rem;



}
.om-forestillingen h2 {
font-size: 30px;
padding-bottom:10px;
}
.om-forestillingen p {
font-size: 15px;
}
.hyrdinden-banner{
grid-area:banner;
width: 30rem;
height: auto;
margin-left:-5rem;


}
.praktisk-info h2 {
font-size: 30px;
}
.praktisk-info p{
font-size: 15px;
}
.praktisk-info img{
width:30px;
margin-left:0rem;
}
.lokation{
margin-top:99px;
}
.tid{
margin-top:170px;
}
.penge{
margin-top:220px;
}
#praktisk {
height: 20rem;
grid-area:info;
width:350px;
margin-left:-1rem;
}
.koeb {
grid-area:k;
margin-top:-0px;
margin-left:4rem;
}
.tidligere
{
grid-area: e;
margin-left:0rem;

}
.timeline {
grid-area: time;

}
}
#dates {
height: 40px;
}
#dates a {
margin-left:-15px;
font-size:25px;

}
.left-arrow, .right-arrow {
margin-top:10px;
}
.right-arrow {
margin-left:-10px;
}

#change {
grid-area:ee;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
white-space: nowrap;
overflow-x: hidden;
width:auto;
}

.timeline ol {


font-size: 0;
width: 100px;
padding: 250px 0;
transition: all 1s;
}

.timeline ol li {
position: relative;
display: inline-block;
list-style-type: none;
width: 160px;
height: 3px;
background: black;
}

.timeline ol li:last-child {
width: 280px;
}

.timeline ol li:not(:first-child) {
margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
content: '';
position: absolute;
top: 50%;
left: calc(100% + 1px);
bottom: 0;
width: 12px;
height: 12px;
transform: translateY(-50%);
border-radius: 50%;
background: black;
}

.timeline ol li div {
position: absolute;
left: calc(100% + 7px);
width: 220px;
max-height: 200px;
padding: 15px;
font-size: 12px;
white-space: normal;
color: white;
background: white;

}

.timeline ol li div::before {
content: '';
position: absolute;
top: 100%;
left: 0;
width: 0;
height: 0;
border-style: solid;
}

.timeline ol li:nth-child(odd) div {
top: -16px;
transform: translateY(-100%);
background: #A7754D;
}

.timeline ol li:nth-child(odd) div::before {
top: 100%;
border-width: 8px 8px 0 0;
border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
top: calc(100% + 16px);
background: #554640;
}

.timeline ol li:nth-child(even) div::before {
top: -8px;
border-width: 8px 0 0 8px;
border-color: transparent transparent transparent white;
}

.timeline time {
color:black;
display: block;
font-size: 20px;
font-weight: bold;
margin-bottom: 8px;
}
.timeline p {
overflow:hidden;
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
display: flex;
justify-content: center;
margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
margin-right: 20px;
}

.timeline .disabled {
opacity: .5;
}

.timeline .arrows img {
width: 45px;
height: 45px;
}









/*Styleguide
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #554640;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.center {
margin: 25%;
margin-top: 5%;
width: 70%;
border: 5px solid #FFFF00;
padding: 10px;
}

.box1 {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  background: #6295D9;

}

.box2 {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  background: #554640;
}

.box3 {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  background: #A7754D;
}

.box4 {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  background: #EAB464;
}

.box5 {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  background: #DCCCBB;
}

.typebox1{

  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.typebox12{
  width: 300px;
  border: 15px solid green;
  margin: 20px;
}


.typebox2{
  width: 600px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}


}
.typebox2 p{
font-size: 62px;
padding-bottom: 5px;
}

.type62 {
  font-size: 62px;
  padding-bottom: 5px;
}

.type50 {
  font-size: 50px;
  padding-bottom: 5px;
}

.type30 {
  font-size: 30px;
  padding-bottom: 5px;
}

.type25 {
  font-size: 25px;
  padding-bottom: 5px;
}

.type23 {
  font-size: 23px;
  padding-bottom: 5px;
}

.type22 {
  font-size: 22px;
  padding-bottom: 5px;
}

.type20 {
  font-size: 20px;
  padding-bottom: 5px;
}

.type17 {
  font-size: 17px;
  padding-bottom: 5px;
}

.type16 {
  font-size: 16px;
  padding-bottom: 5px;
}

.type15 {
  font-size: 15px;
  padding-bottom: 5px;
}

.type14 {
  font-size: 14px;
  padding-bottom: 5px;
}

.type13 {
  font-size: 13px;
  padding-bottom: 5px;
}

.type10{
  font-size: 10px;
  padding-bottom: 5px;
}
