
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: abril-display, serif;
}

.kontakt{
  background: #DCCCBB;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: "a b";
  align-items: center;
}

.box{
  grid-area: a;
  margin-left: auto;
  padding: 80px;
  background-color: #fff;
  border-radius: 30px 0px 0px 30px;

}

.wrapper{
  grid-area: b;
  top: 50%;
  left: 70%;
  max-width: 350px;
  width: 100%;
  background: #554640;
  padding: 25px;
  border-radius: 7px;
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  margin-left: 25%;
  padding: 15px;
  text-align: center;
  width: 50%;
  background: #EAB464;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;


}

#error_message{
  margin-bottom: 20px;
  background: #EAB464;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
